       <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
          <!-- Sidebar scroll-->
          <div class="scroll-sidebar">
              <!-- Sidebar navigation-->
              <nav class="sidebar-nav">
                  <ul id="sidebarnav" class="p-t-30">

                    <!-- La directiva ngFor recorre el objeto menu tantas veces como ítems tenga y para obtener información de cada ítem uso la variable item -->
                    <li class="sidebar-item" *ngFor="let item of menu">

                      <!-- Si no tiene submenú -->
                      <div *ngIf="!item.sub">
                        <!-- Pongo routerLink entre [] porque quiero indicar que el string a analizar es código de ts -->
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" [routerLink]="item.url" aria-expanded="false">
                          <!-- Uso el {{}} para introducir código de ts -->
                          <i class="{{item.icono}}"></i>
                          <span class="hide-menu">{{item.titulo}}</span>
                        </a>
                      </div>


                      <!-- Si tiene submenú -->
                      <div *ngIf="item.sub">
                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"  data-toggle="collapse" data-target="#demo">
                          <i class="{{item.icono}}"></i>
                          <span class="hide-menu"> {{item.titulo}} </span>
                        </a>
                        <!-- Submenú -->
                        <!-- En principio para colapsar estaba esto: <ul aria-expanded="false" class="first-level collapse">-->
                        <!-- Pero la clase collapse no funcionaba, iba así: -->
                        <!-- Aquí es donde está la propiedad collapse .collapse:not(.show) {display: none;} -->
                        <!-- El selector :not indica que a las clases afectadas no se les aplicará la propiedad -->

                        <!-- Como no iba tuve que cambiar el método con data-toggle y data-target  -->
                        <ul aria-expanded="false" class="first-level" id="demo" class="collapse">
                          <!-- Recorremos los submenús -->
                          <li class="sidebar-item" *ngFor="let subitem of item.subMenu" class="sidebar-link" >
                            <a [routerLink]="subitem.url" class="sidebar-link">
                              <i class="{{subitem.icono}}"></i>
                              <span class="hide-menu"> {{subitem.titulo}} </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>

                  </ul>
              </nav>
              <!-- End Sidebar navigation -->
          </div>
          <!-- End Sidebar scroll-->
      </aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
